In [164]:
import pandas as pd
import openpyxl

Almost 50% of the column gender is missing

In [165]:
base = pd.read_excel(r'C:\Users\willi\Downloads\base.xlsx')
base.head()

   id first_name last_name                    email gender
0   1    Ximenes  Colliber  xcolliber0@trellian.com   Male
1   2    Marylin    Cready     mcready1@addthis.com    NaN
2   3      Taite   Kensett     tkensett2@sfgate.com   Male
3   4    Aloisia   Camelin    acamelin3@dedecms.com    NaN
4   5      Mozes  Ricardet        mricardet4@pen.io    NaN

In [166]:
base.count()

id            1000
first_name    1000
last_name     1000
email         1000
gender         510
dtype: int64

In [174]:
base.fillna("RESTANTE", inplace = True)
base.set_index('id', inplace = True)

In [175]:
df = base.loc[base['gender'] == 'RESTANTE']

In [176]:
df.count()

first_name    490
last_name     490
email         490
gender        490
dtype: int64

In [177]:
df.head()

   first_name  last_name                   email    gender
id
2     Marylin     Cready    mcready1@addthis.com  RESTANTE
4     Aloisia    Camelin   acamelin3@dedecms.com  RESTANTE
5       Mozes   Ricardet       mricardet4@pen.io  RESTANTE
10    Mirabel  Filippyev  mfilippyev9@forbes.com  RESTANTE
11    Natasha     Collet          ncolleta@de.vu  RESTANTE

In [178]:
df.to_clipboard()